@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* letter-spacing: 0.1px; */
}

.og-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* background video container */
    .background-clip-container {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .clip-content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: white;
    }
    
    .header-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        color: white;
        padding: 1rem;
    }

    .top-left-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        column-gap: 1rem;
    }

    .google-deepmind-logo {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        column-gap: .3rem;
        padding: .5rem;
    }

    .top-google {
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.25px;
    }

    .deepmind {
        font-size: 1.375rem;
        line-height: 1.313rem;
    }

    .navigation-menu {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        letter-spacing: 0.25px;
    }

    .link-container {
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .link-container a {
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        column-gap: .5rem;
        text-decoration: none;
        padding: .5rem;
        color: white;
    }

    .link-container:hover {
        background-color: transparent;
    }

    .top-right-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .trc-icon, .sparkle-img {
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 0.25rem 1.2rem;
    }

    .background-text-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        row-gap: 1rem;
    }

    .veo {
        width: fit-content;
        height: auto;
    }

    .big p {
        font-size: 7.75rem;
        line-height: 9rem;
        letter-spacing: -0.5px;
    }

    .small p {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .background-button-container {
        width: fit-content;
        height: auto;
        background-color: #1a73e8;
        border-radius: 2rem;
    }

    .learn-more-button-container:hover {
        background-color: #0452b9;
    }

    /* learm more buttons */
    .learn-more-button{
        width: fit-content;
        height: auto;
        background-color: white;
        color: #1a73e8;
        border-radius: 3rem;
        padding: .7rem 1.25rem;
        border: .5px solid;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    .learn-more-button:hover {
        color: #0452b9;
    }

    /* first learn more button */
    .bcc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .play-icon {
        width: fit-content;
        height: auto;
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 1rem;
        background-color: #24262a;
        border-radius: 51%;
    }

    /* styling background video */
    .clip {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    @media (min-aspect-ratio: 16/9) {
        .clip {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .clip {
            width: auto;
            height: auto;
        }
    }

/* MID-PART */
    .main-body-container {
        width: 65%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 6rem;
        padding: 12rem 0 0 0;
    }

    .main-body-container-child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 3rem;
    }

    .mbcc-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: .7rem;
    }

    .latest-news {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .mbcch-gk1, .mbcch-gk2, .mbcch-gk3 {
        width: fit-content;
        height: auto;
    }

    .ln {
        font-size: 2.25rem;
        line-height: 2.75rem;
        letter-spacing: -0.25px;
        font-weight: 400;
        color: #202124;
    }

    .mbcch-button{
        width: fit-content;
        height: auto;
        border-radius: 2rem;
    }

    .blue-button {
        width: fit-content;
        height: auto;
        background-color: white;
        color: #1a73e8;
        border-radius: 3rem;
        padding: .5rem ;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.5px;
    }

    .blue-button:hover {
        color: #0452b9;
        background-color: rgb(199, 213, 231, 0.5);
    }

    .ln-sis {
        font-size: 1.125;
        line-height: 1.75;
        color: #5f6368;
    }

    .mbcc-cards-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .mbcc-3cards {
        width: 30%;
        height: auto;
        border: 1px solid #e8e8e8;
        border-radius: .75rem;
    }

    .mbcc-3cards a {
        text-decoration: none;
        color: #5f6368;
    }

    .mbcc-3c-child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 395px;
        height: 200px;
    }

    .IIcurved {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .75rem .75rem 0 0;
    }

    .IIIcards-desc {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        row-gap: 1.5rem;
    }

    .IIIcards-desc-kid1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }

    .cdc-title, .date {
        width: fit-content;
        height: auto;
        font-size: .688rem;
        line-height: 1.5rem;
    }
    .cdc-big-text {
        width: 100%;
        height: auto;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #202124;
    }

/* To cut short a text element to show the first 2 lines only */
    .cdc-smaller-text {
        display: -webkit-box;           /* Use WebKit box model */
        -webkit-box-orient: vertical;   /* Set vertical orientation */
        overflow: hidden;               /* Hide overflowing content */
        text-overflow: ellipsis;        /* Add ellipsis if the text overflows */
        -webkit-line-clamp: 2;          /* Show only 2 lines */
        line-height: 1.5; 
        font-size: 1rem;
    }

    .cdc-tad {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cdc-tad-icon {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        color: #3b7fdf;
    }

    .mbcc-background-image {
        width: 100%;
        height: 65vh;
        padding: 15rem;
        background-color: #999;
        border-radius: .75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .background-text-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .btc-small-text {
        width: fit-content;
        height: auto; 
        font-size: 0.688rem;
        line-height: 1rem;
        letter-spacing: 0.5px;
    }

    .btc-large-text {
        width: fit-content;
        height: auto; 
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.5px;
    }

    .btc-medium-text {
        width: fit-content;
        height: auto; 
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .bbc {
        position: absolute;
        bottom: 10%;
    }

    .mbcc-bi-1 {
        background-image: url(./assets/asset\ 8.png);
        background-position: center;
        background-size: cover; /* image covers the entire container while maintaining its aspect ratio */
        background-repeat: no-repeat; /* This command is to stop low quality pics from repeating when linked */
    }

    .technologies {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }

    .mbcc-header-child1 {
        width: fit-content;
        height: auto;
    }

    .tn {
        font-size: 2.75rem;
        color: #202124;
    }

    .mbcc-header-child2 {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        row-gap: .5rem;
    }

    .mbcch-gk2 {
        width: fit-content;
        height: auto;
        row-gap: 1rem;
    }

    .tn-sis {
        font-size: 1.65rem;
        line-height: 2.25rem;
        color: #5f6368;
        letter-spacing: 0.6px;
    }

    .btc-larger-text {
        font-size: 5.25rem;
        line-height: 6rem;
        letter-spacing: -0.5px;
    }

    .mbcc-bi-2 {
        background-image: url(./assets/asset\ 9.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cc2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 5rem;
    }

    .two-cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        column-gap: 3rem;
    }


    .mbcc-2cards {
        width: 47%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        border-radius: .75rem;
    }

    .mbcc-2cards a {
        text-decoration: none;
        color: #202124;
    }

    .mbcc-2c-child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border: 1px solid #e8e8e8;
        border-radius: 0.75rem;
    }

    .m2c {
        width: 650px;
        height: 350px;
    }

    .curved {
        width: 100%;
        height: 100%;
        border-radius: .75rem .75rem 0 0;
    }

    .gem {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 1.5rem;
        row-gap: 2rem;
    }

    .gem-kid {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;
    }

    .IIcdc-big-text {
        width: fit-content;
        height: auto;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .IIcdc-smaller-text {
        width: fit-content;
        height: 4.75vh;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #5f6368;
        display: -webkit-box;           /* Use WebKit box model */
        -webkit-box-orient: vertical;   /* Set vertical orientation */
        overflow: hidden;               /* Hide overflowing content */
        text-overflow: ellipsis;        /* Add ellipsis if the text overflows */
        -webkit-line-clamp: 2;
    }

    .cdc-title-and-date-icon {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        color: #1a73e8;
    }

    .mbcc-23cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .pete {
        height: 38vh;
    }

    .sp {
        width: 390px;
        height: 210px;
    }

    .responsibility {
        width: 50%;
        text-align: center;
    }

    .last-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }

    .lc-child1 {
        width: 40%;
        height: auto;
    }

    .lc-child1 p {
        font-size: 2rem;
        line-height: 2.75rem;
        letter-spacing: -0.25px;
        color: #202124;
    }

    .lc-child2 {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: .5rem;
    }

    .lc-gk {
        width: 45%;
        height: auto;
        display: flex;
        border-radius: .5rem;
        border: 2px solid #e8e8e8;
        font-weight: 500;
    }

    .lc-gk a {
        text-decoration: none;
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        text-decoration: none;
        color: #5d5f63;
    }

    .test{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

    }
    
    .lc-grandkid1{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 0.75rem;
    }
    
    .lc-gk-img{
        width: fit-content;
        height: auto;
    }
    
    .lc-gk-img img{
        width: 20px;
        height: 20px;
    }
    
    .lc-gk-title{
        width: fit-content;
        height: auto;
    }
    
    .lcg-icon{
        width: fit-content;
        height: auto;
        color: #1a73e8;
    }

/* footer containers */
    .footer-container {
        width: 100%;
        height: auto;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        padding: 0 22rem;
    }

    .top-footer-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        column-gap: 1rem;
        padding: 2rem 0;
    }

    .follow-us {
        width: fit-content;
        height: auto;
        padding: .5rem 0;
    }

    .sm-icons {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    .sm-icons-kids {
        border-radius: 50%;
        padding: .5rem;
        cursor: pointer;
    }

    .sm-icons-kids:hover {
        background-color: #9b9fa4;
    }
    
/* 2nd footer container */
    .mid-footer-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }

    .mid-footer-container-child {
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        row-gap: 1rem;
        column-gap: 1rem;
        padding: 2rem 0;
    }

    .mid-footer-container-child-1 {
        width: fit-content;
        height: auto;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #202124;
    }

    .mid-footer-container-child-2 {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: start; */
        row-gap: 1.5rem;
    }

    .hover-footer-links {
        width: fit-content;
        height: auto;
    }

    .hover-footer-links a {
        color: #5d5f63;
        text-decoration: none;
    }

    .email-and-tc {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        padding: 1rem;
        background-color: white;
        border-radius: .5rem;
        border: 1px solid #e8e8e8;
    }

    .email-icon {
        color: #abaaaa;
    }

    input {
        border: none;
        font-size: 1rem;
    }

    .t-and-c {
        color: #5d5f63;
        font-size: .9rem;
        line-height: 1.5rem;
        letter-spacing: 0.15px;
    }

    .t-and-c a {
        color: #5d5f63;
        font-size: .9rem;
    }

    .sign-up-button {
        background-color: #202124;
        border-radius: 3rem;
    }

    /* learm more buttons */
    .black-button{
        width: fit-content;
        height: auto;
        background-color: white;
        color: #1a73e8;
        border-radius: 3rem;
        padding: .7rem 1.25rem;
        border: .5px solid;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    .bottom-footer-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        color: #5d5f63;
        padding: 2rem 0;
        column-gap: 3rem;
    }

    .bottom-footer-container-child {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        color: #5d5f63;
        column-gap: 1.5rem;
    }

    .hove-footer-links {
        color: #5d5f63;
    }